<.header>
  Editar Categoria <%= @category.id %>
  <:subtitle>Use this form to manage category records in your database.</:subtitle>
</.header>

<.category_form changeset={@changeset} action={~p"/admin/categories/#{@category}"} />

<.back navigate={~p"/admin/categories"}>Back to categories</.back>
